w<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" onclick="location.href='{{ element.url }}';">
    <img alt="" src="/media/{{element.image}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
    <div class="tp-caption customin customout" data-x="right" data-y="center" data-hoffset="" data-voffset="-120" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
        {% if element.show_title %}
            <h3 class="c-font-uppercase">
                {{ element.title }}
            </h3>
        {% endif %}
    </div>
    <div class="tp-caption customin customout" data-x="right" data-y="center" data-hoffset="" data-voffset="-40" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
        {% if element.new_price or element.old_price %}
        <h3 class="c-font-bold c-font-center c-font-uppercase">
        {% if element.old_price %}
            <span class="t-strike" style="font-weight: 300;padding-right: 20px;"><strike>{{element.old_price}} €</strike></span>
        {% endif %}
        {% if element.new_price %}
             {{element.new_price}} €  
        {% endif %}
        </h3>
        {% endif %}
        {% if element.discount %}
        <h4 class="c-font-uppercase">- {{element.discount|floatformat:0}} %</h4> 
        {% endif %}
    </div>
	<div class="tp-caption customin customout" data-x="right" data-y="center" data-hoffset="" data-voffset="40" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
        {% if element.description %}
            <p class="c-font-uppercase c-right">
                {{ element.description|safe }}
            </p>
        {% endif %}
    </div>
    <div class="tp-caption" data-x="right" data-y="center" data-voffset="130" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;" data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
        <a href="{{ element.url }}" class="btn btn-md c-btn-uppercase c-btn-bold btn c-btn-dark c-btn-square">
            {{ element.button }}
        </a>
    </div>
</li>