{% extends "frontend/base.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row c-page-faq-2">
                <div class="col-sm-3">
                    <ul class="nav nav-tabs c-faq-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#all" data-toggle="tab">All</a>
                        </li>
                        <li>
                            <a href="#buying" data-toggle="tab">Buying</a>
                        </li>
                        <li>
                            <a href="#author" data-toggle="tab">Author</a>
                        </li>
                        <li>
                            <a href="#account" data-toggle="tab">Account</a>
                        </li>
                        <li>
                            <a href="#copyright" data-toggle="tab">Copyright</a>
                        </li>
                        <li>
                            <a href="#community" data-toggle="tab">Community</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="all">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">All</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading1">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                    <i class="c-theme-font fa fa-check-circle-o c-theme-font"></i> Where can I find {{ name_project }}?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading2">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                    <i class="c-theme-font fa fa-life-ring c-theme-font"></i> {{ name_project }} Feedback</a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading3">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                    <i class="c-theme-font fa fa-question c-theme-font"></i> How Do I Get Support From {{ name_project }}?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading4">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                    <i class="c-theme-font fa fa-credit-card"></i> Which Payment Option Do I Choose?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading5">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                    <i class="c-theme-font fa fa-copyright"></i> Can I use trademarked names in my items?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading6">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                    <i class="c-theme-font fa fa-history"></i> Historical Payment Rates</a>
                                            </h4>
                                        </div>
                                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading7">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                    <i class="c-theme-font fa fa-user"></i> How Do I Change My Username?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading8">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                    <i class="c-theme-font fa fa-columns"></i> Author Collaboration</a>
                                            </h4>
                                        </div>
                                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading9">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                                    <i class="c-theme-font fa fa-unlock-alt"></i> How Do I Change My Password?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading10">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                                    <i class="c-theme-font fa fa-map-marker"></i> An Author’s Introduction to {{ name_project }}</a>
                                            </h4>
                                        </div>
                                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading11">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                                    <i class="c-theme-font fa fa-keyboard-o"></i> How to use the Whois Lookup Tool</a>
                                            </h4>
                                        </div>
                                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading12">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                                    <i class="c-theme-font fa fa-file-excel-o"></i> Illegal Distribution Of Files</a>
                                            </h4>
                                        </div>
                                        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading13">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                                    <i class="c-theme-font fa fa-exclamation-circle"></i> Protecting Your Copyright</a>
                                            </h4>
                                        </div>
                                        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading14">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                                    <i class="c-theme-font fa fa-bookmark-o"></i> Guide to YouTube Content ID & Copyright Notices</a>
                                            </h4>
                                        </div>
                                        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading15">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                                    <i class="c-theme-font fa fa-comments-o"></i> Forum and Community Rules</a>
                                            </h4>
                                        </div>
                                        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="buying">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Buying</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading1-buy">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapse1-buy" aria-expanded="true" aria-controls="collapse1-buy">
                                                    <i class="c-theme-font fa fa-check-circle-o c-theme-font"></i> Where can I find {{ name_project }}?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse1-buy" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1-buy">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading3-buy">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3-buy" aria-expanded="false" aria-controls="collapse3-buy">
                                                    <i class="c-theme-font fa fa-question c-theme-font"></i> How Do I Get Support From {{ name_project }}?</a>
                                            </h4>
                                        </div>
                                        <div id="collapse3-buy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3-buy">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading14-buy">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14-buy" aria-expanded="false" aria-controls="collapse14-buy">
                                                    <i class="c-theme-font fa fa-bookmark-o"></i> Guide to YouTube Content ID & Copyright Notices</a>
                                            </h4>
                                        </div>
                                        <div id="collapse14-buy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14-buy">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="author">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Author</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="author-heading4">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#author-collapse4" aria-expanded="true" aria-controls="author-collapse4">
                                                    <i class="c-theme-font fa fa-credit-card"></i> Which Payment Option Do I Choose?</a>
                                            </h4>
                                        </div>
                                        <div id="author-collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="author-heading4">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="author-heading6">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#author-collapse6" aria-expanded="false" aria-controls="author-collapse6">
                                                    <i class="c-theme-font fa fa-history"></i> Historical Payment Rates</a>
                                            </h4>
                                        </div>
                                        <div id="author-collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="author-heading6">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="author-heading8">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#author-collapse8" aria-expanded="false" aria-controls="author-collapse8">
                                                    <i class="c-theme-font fa fa-columns"></i> Author Collaboration</a>
                                            </h4>
                                        </div>
                                        <div id="author-collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="author-heading8">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="author-heading10">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#author-collapse10" aria-expanded="false" aria-controls="author-collapse10">
                                                    <i class="c-theme-font fa fa-map-marker"></i> An Author’s Introduction to {{ name_project }}</a>
                                            </h4>
                                        </div>
                                        <div id="author-collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="author-heading10">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="account">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Account</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="acc-heading7">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#acc-collapse7" aria-expanded="true" aria-controls="acc-collapse7">
                                                    <i class="c-theme-font fa fa-user"></i> How Do I Change My Username?</a>
                                            </h4>
                                        </div>
                                        <div id="acc-collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acc-heading7">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="acc-heading9">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#acc-collapse9" aria-expanded="false" aria-controls="acc-collapse9">
                                                    <i class="c-theme-font fa fa-unlock-alt"></i> How Do I Change My Password?</a>
                                            </h4>
                                        </div>
                                        <div id="acc-collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acc-heading9">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="copyright">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Copyright</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="copy-heading5">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#copy-collapse5" aria-expanded="true" aria-controls="copy-collapse5">
                                                    <i class="c-theme-font fa fa-copyright"></i> Can I use trademarked names in my items?</a>
                                            </h4>
                                        </div>
                                        <div id="copy-collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="copy-heading5">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="copy-heading11">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#copy-collapse11" aria-expanded="false" aria-controls="copy-collapse11">
                                                    <i class="c-theme-font fa fa-keyboard-o"></i> How to use the Whois Lookup Tool</a>
                                            </h4>
                                        </div>
                                        <div id="copy-collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="copy-heading11">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="copy-heading12">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#copy-collapse12" aria-expanded="false" aria-controls="copy-collapse12">
                                                    <i class="c-theme-font fa fa-file-excel-o"></i> Illegal Distribution Of Files</a>
                                            </h4>
                                        </div>
                                        <div id="copy-collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="copy-heading12">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="copy-heading13">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#copy-collapse13" aria-expanded="false" aria-controls="copy-collapse13">
                                                    <i class="c-theme-font fa fa-exclamation-circle"></i> Protecting Your Copyright</a>
                                            </h4>
                                        </div>
                                        <div id="copy-collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="copy-heading13">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="community">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Community</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content-accordion-1">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="comm-heading2">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#comm-collapse2" aria-expanded="true" aria-controls="comm-collapse2">
                                                    <i class="c-theme-font fa fa-life-ring c-theme-font"></i> {{ name_project }} Feedback</a>
                                            </h4>
                                        </div>
                                        <div id="comm-collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="comm-heading2">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="comm-heading15">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#comm-collapse15" aria-expanded="false" aria-controls="comm-collapse15">
                                                    <i class="c-theme-font fa fa-comments-o"></i> Forum and Community Rules</a>
                                            </h4>
                                        </div>
                                        <div id="comm-collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="comm-heading15">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
    
{% endblock %}
