{% extends "frontend/base_shop.html" %}
{% load static %}
{% load i18n %}

{% block slider %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background: url({% static "imagenes/cabecera-home.jpg" %}) no-repeat center bottom; background-size: cover; ">
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.carousel -->
{% endblock %}

{% block logo_familia %}{% endblock %}

{% block contenido %}

<section class="section">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a tortor finibus, faucibus lectus ac, pulvinar odio. Sed et lacinia augue, quis sagittis mi. Donec ac tincidunt est, ut posuere sem. Etiam efficitur diam ac tortor porttitor, et fermentum odio dapibus. Etiam tempus rutrum magna, ac aliquet ipsum. Donec vulputate orci velit, in finibus sem ultricies feugiat. Quisque condimentum iaculis odio quis sollicitudin.</p>

        <p>Nullam eget tortor id arcu tincidunt pulvinar ac faucibus augue. Cras accumsan eleifend ante commodo porttitor. Duis neque dui, laoreet eu dui ut, aliquam euismod orci. Aenean sit amet felis erat. Aliquam accumsan sapien volutpat nisi vehicula suscipit. Nunc sagittis velit vel consectetur varius. Cras maximus nec sem a fermentum. Praesent non tempus purus, ut efficitur dolor. Aenean egestas leo eu pretium pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat lectus nisl, eget ornare magna auctor dictum. Suspendisse accumsan lobortis nisi, et dapibus enim varius vitae. Aenean at enim sit amet eros fermentum tincidunt. Etiam lacinia sollicitudin ante, vel lacinia leo.</p>

        <p>Suspendisse eget risus non sapien tincidunt semper ut vel arcu. Praesent at eros ac nulla accumsan ultricies ac sit amet leo. Duis non est viverra, varius ante vel, posuere enim. Suspendisse lacus felis, maximus sit amet finibus id, accumsan at eros. Quisque hendrerit libero eu scelerisque suscipit. Sed euismod justo odio, sit amet volutpat lacus vulputate non. Nam velit dui, semper eget orci sit amet, efficitur sagittis tellus. Mauris et egestas diam. Duis sagittis ligula sit amet quam rutrum, vitae malesuada nibh maximus. Vestibulum pellentesque ac quam nec vulputate. Donec eget est augue. Nam pulvinar commodo ex quis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam auctor diam mauris, non cursus enim sagittis et. Vivamus bibendum libero erat, ut sollicitudin dui ultricies pulvinar.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra sapien nulla, vitae gravida est tempor ac. Etiam eu condimentum nulla. Sed cursus vitae sapien in pharetra. Proin ut ipsum vehicula metus ultrices rhoncus ac ac lorem. Quisque at turpis ac nibh vestibulum tincidunt ac id leo. In consequat ornare ex, at sollicitudin orci varius sed. Sed ultrices nisl risus, vel gravida magna elementum quis. Quisque quis ullamcorper orci. Pellentesque porta convallis rutrum. Aliquam interdum et felis a feugiat. Cras et placerat nisi. Fusce consequat tellus velit, vel gravida justo tempor et.</p>

        <p>Fusce rhoncus nisl sit amet diam sodales, molestie placerat magna suscipit. Vivamus lacinia malesuada nulla non dictum. Vivamus lorem lectus, mollis tristique sem in, commodo aliquam tellus. Sed odio urna, pellentesque sit amet nisl vitae, blandit rutrum libero. Duis dignissim pretium odio, a vehicula dolor interdum eu. Curabitur eget dolor imperdiet, dignissim erat non, imperdiet massa. Praesent gravida eros non enim suscipit dictum.</p>

</div>
</section>



{% endblock %}
